body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    /* Centraliza o contêiner principal horizontalmente */
}

.container {
    width: 100%;
    /* Ocupa 100% da largura até o limite máximo */
    max-width: 1200px;
    /* Limite máximo para desktop */
    min-height: 100vh;
    /* Garante que o contêiner tenha pelo menos a altura da tela */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    /* Adiciona espaçamento lateral */
    box-sizing: border-box;
    /* Garante que o padding não adicione largura ao contêiner */
}

.nyt-header {
    background-color: #ffffff;
    color: #121212;
    padding: 10px;
    width: 100%;
    /* Garante que o cabeçalho ocupe toda a largura do contêiner */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.date {
    font-size: 12px;
    align-self: flex-start;
}

.nyt-logo img {
    height: 90px;
    width: auto;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #121212;
    font-size: 25px;
}

.nyt-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.nyt-nav li {
    padding: 0 15px;
}

.nyt-nav a {
    text-decoration: none;
    color: #121212;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .nyt-header {
        flex-direction: column;
        align-items: center;
    }
    .menu-toggle {
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .nyt-logo img {
        height: 45px;
    }
    .nyt-nav ul {
        display: none;
        /* Inicialmente escondido */
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 0;
        background-color: #fff;
        /* Cor de fundo alterada para branco */
        top: 90px;
        /* Espaçamento aumentado para não sobrepor a data */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* Sombra para destacar o menu */
        border-top: 2px solid #ccc;
        /* Bordas mais destacadas */
        z-index: 1000;
        /* Garante que o menu fique sobre outros elementos */
    }
    .nyt-nav.active ul {
        display: flex;
        /* Mostrar quando ativo */
    }
    .nyt-nav li {
        text-align: left;
        width: auto;
        padding: 10px 0 10px 30px;
        /* Adiciona padding para mais espaço entre os itens */
    }
    .date {
        align-self: center;
        order: 2;
        margin-left: 0;
        background-color: #f2f2f2;
        width: 100%;
        padding: 10px 0 10px 30px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
}