/* Estilo global e layout */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #779947;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    text-align: center;
    margin-bottom: 40px;
}

.headline {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
}

.headline img {
    width: 80%;
    height: auto;
}

/* Animações e Transições */
@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}

footer {
    width: 100%;
    background-color: #F7F7F7;
    padding: 40px 0;
    color: #929292;
}

.footer-content {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
}

.footer-content a {
    color: #929292;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.footer-content a:hover,
.footer-content a:focus {
    color: #666;
    text-decoration: underline;
}

.footer-content p {
    margin: 10px 0;
}

/* Media queries para dispositivos menores */
@media (max-width: 600px) {
    .container,
    .footer-content,
    .references {
        width: 95%;
        max-width: none;
    }

    .headline img {
        width: 95%;
    }

    body {
        padding-top: 20px;
    }
}

/* Urgency Alert e Button Styles */
.urgency-alert {
    background-color: #ffffff;
    border: 2px solid #FFD700;
    padding: 10px;
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto 50px;
	margin-top: 50px;
    align-items: center;
    text-align: center;
    width: 80%;
}

.urgency-alert h1,
.urgency-alert h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 900;
}

.urgency-alert h2 {
    color: #d30000;
    font-size: 28px;
}

.urgency-alert p {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

#stock-count {
    font-weight: bold;
    color: #d30000;
    font-size: 24px;
}

.buy-now-button {
    background-color: #FFD700;
    color: #000;
    border: 2px solid #FFA500;
    border-radius: 8px;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    margin-top: 5px;
}


/* Testimonial Styles */
.testimonials-container {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: #f9f9f9;
}

.testimonial {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
}

.testimonial-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.customer-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.customer-name {
    font-weight: bold;
}

.purchase-date {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.stars {
    display: flex;
    margin-right: 5px;
}

.star {
    display: inline-block;
    color: #DE7921;
    font-size: 25px;
}

.rating-title {
    font-weight: bold;
    margin-left: 5px;
}

.star,
.rating-title {
    line-height: 0.3;
    vertical-align: middle;
}

.verified-purchase {
    font-size: 12px;
    color: #c45500;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 600;
    background-color: #fffbe6;
    padding: 5px;
    border-left: 5px solid #c45500;
}

.testimonial-content {
    display: flex;
    align-items: flex-start;
}

.testimonial-image {
    width: 100px;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
}

.testimonial-text {
    font-size: 14px;
    color: #555;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .testimonial-image {
        width: 80px;
    }

    .testimonial {
        padding: 10px;
    }

    .stars {
        justify-content: center;
    }

    .testimonial-text {
        font-size: 12px;
    }
}
